.catalog-aside__filter{
  padding: 15px 20px 20px 15px;
  border-top: 1px solid #c4c4c4;
}

.catalog-aside__filter-text{
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 17px;
}

.catalog-aside__filter-input-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-aside__filter-input{
  max-width: 100px;
  border: 1px solid #c8c8c8;
  background-color: transparent;
  border-radius: 3px;
  text-align: center;
}